<!DOCTYPE html>
<html>
  <head>
    <title>Sovetpastorov</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  		<div class="row">
			<div class="col-md-5" id="left">
				<h3>Межконфессиональный Пасторский Совет Екатеринбурга</h3>
			</div>
			<div class="col-md-7" id="right">
				<%= yield %>
			</div>
		</div>  			
	</div>
  </body>
</html>
